@{
    Layout = null;
}

@using online_shopping.Models;


<!DOCTYPE html>

<style>

    * {
        box-sizing: border-box;
    }

    .info:empty {
        background: black;
        height: 40px;
    }

    .list {
        position: relative;
        height: 200px;
        width: 100%;
    }

        .list::before {
            content: "";
            background-image: url('https://secretmag.ru/imgs/2017/09/17/22/1381080/dde97d6bb8e046218d545671b8aedb28caf0d2dc.jpg');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.1;
        }

    .text {
        position: relative;
        color: black;
        line-height: 0.9;
        text-align: center;
    }

    .new_text {
        text-shadow: 1px 1px 2px grey;
        text-align: center;
        font-size: 250%;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        border: 10px dashed black;
        margin: 10px;
        padding: 6px;
    }

    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Parfum.LO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search your fragrance" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Default/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Why Parfum.LO?</a>
                </li>
                <li class="nav-item">
                    <!--  <a class="nav-link" href="#">Catalog</a> -->
                    <a class="nav-link" href="~/Product/Index">Catalog </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Cart/Index">Shopping Cart<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Enter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sign in</a>
                        <a class="dropdown-item" href="#">Sign up</a>
                        <div class="dropdown-divider"></div>
                        <small><a class="dropdown-item" href="#">Continue as a guest</a></small>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Item item in (List<Item>)Session["cart"])
                        {
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">@item.Product.Name</a></h4>
                                            <h5 class="media-heading"><a href="#">@item.Product.Category</a></h5>
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input type="email" class="form-control" id="exampleInputEmail1" value="@item.Quantity">
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@item.Product.Price </strong></td>

                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Remove", "Cart", new { id = item.Product.IdProduct })'">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td><h5>Subtotal</h5></td>
                                <td class="text-right"><h5><strong>@(item.Product.Price * item.Quantity) $</strong></h5></td>
                            </tr>
                        }


                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right">
                                <h3>
                                    <strong>
                                        @{
                                            List<Item> cart = (List<Item>)Session["cart"];
                                            var total = cart.Sum(item => item.Product.Price * item.Quantity);
                                        }
                                        @total
                                    </strong>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Product")'">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Client")'">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                    
</body>
</html>

